@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

:root {
  --font-helvetica: "Helvetica", sans-serif;
  --font-streamer: "Streamster", cursive;
}

.font-streamer {
  font-family: var(--font-streamer);
}
